body>div{
    background-color: red;
    margin: 10px 0;
}
/*高度100，宽度自适应*/
.autoWidth{
    height: 100px;
    width: 100%;
}
/*高度100，宽度200，实现水平居中*/
.center-x-1{
    height: 100px;
    width: 200px;
    margin: auto;
}
/*使用display：inline来设置居中*/
.center-x-2{
    height: 100px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.center-x-2-child{
    width: 200px;
    height: 100px;
    display: inline-block;
    text-align: left;
    background-color: yellow;
}
/*使用position来实现居中*/
.center-x-3{
    height: 100px;
    width: 100%;
    position: relative;
}
.center-x-3-child{
    width: 200px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    background-color: yellow;
}
/*不定宽实现居中*/
.center-x-4{
    height: 100px;
    text-align: center;
}
.center-x-4-child{
    display: inline-block;
    background-color: yellow;
    height: 100px;
}
/*行内元素垂直居中*/
.center-y-1{
    height: 200px;
}
.center-y-1-child{
    background-color: yellow;
    width: 100px;
    line-height: 200px;
}
/*定高块级元素垂直居中*/
.center-y-2{
    height: 200px;
    position: relative;
}
.center-y-2-child{
    width: 80px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}
/*定高块级元素垂直居中*/
.center-y-3{
    height: 200px;
    position: relative;
}
.center-y-3-child{
    width: 80px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}
/*边距合并现象*/
.margin-style{
    height: 200px;
}
.margin-style-child{
    height: 50px;
    width: 100px;
    margin: 25px;
    background-color: yellow;
}
/*浮动元素*/
.float-l{
    height: 100px;
    width: 100px;
    background-color: yellow;
    float: left;
}
.float-r{
    height: 100px;
    width: 100px;
    background-color:yellow;
    float: right;
}
.clear-float{
    margin-bottom: 100px;
}
/*指定元素高度清除浮动*/
.clear-float1{
    height: 100px;
}
/*设置overflow：hidden*/
.clear-float2{
    overflow: hidden;
}
/*使用伪类清除浮动*/
.clear-float3:after{
    clear: both;
    display: block;
    content: '.';
    height: 0;
    visibility: hidden;
}
/*全部固定宽度的两列布局*/
.wrapper{
    width: 800px;
    overflow: hidden;
    margin: 10px auto;
}
.sidebar{
    width: 200px;
    height: 400px;
    float: left;
    background-color: yellow;
}
.content{
    width: 600px;
    height: 400px;
    float: left;
    background-color: brown;
}
/*左侧固定右侧自适应两列布局*/
.wrapper1{
    width: 920px;
    margin: 10px 0;
    overflow: hidden;
    margin: 10px auto;
}
.content-wap{
    float: left;
    width: 100%;
}
.content1{
    height: 400px;
    background-color: brown;
    margin-left: 200px;
}
.sidebar1{
    float: left;
    width: 200px;
    margin-right: -200px;
    height: 400px;
    background-color: yellow;
}

.sidebar2{
    float: left;
    width: 200px;
    margin-left: -920px;
    height: 400px;
    background-color: yellow;
}
.content4{
    width: 600px;
    float: left;
    margin-left: 200px;
    height: 400px;
    background-color: brown;        
}
.sidebar4{
    width: 200px;
    float: left;
    height: 400px;
    background-color: yellow;
    margin-left: -100%
}
.content-wap1{
    width: 100%;
    float: left;
}
.content5{
    margin-right: 200px;
    height: 400px;
    background-color: brown;
}
.slider5{
    width:200px;
    float: left;
    height: 400px;
    margin-left: -200px;
    background-color: yellow;
}
.slider6{
    width: 200px;
    float: right;
    height: 400px;
    margin-left: -100%;
    background-color: yellow;
}
.sidebar7{
    width: 200px;
    height: 400px;
    background-color: yellow;
    float: left;
}
.content7{
    height: 400px;
    margin-left: 200px;
    background-color: brown;
}
.autoh1{
    float: left;
    width: 100%;
    background-color: yellow;
    position: relative;
    overflow: hidden; 
}
.autoh2{
    float: left;
    width: 100%;
    background-color: green;
    position: relative;
    right: 50%;
}
.autoh3{
    float: left;
    width: 100%;
    background-color: brown;
    position: relative;
    right: 20%;
}
.autoh-l{border-collapse:collapse; border: 1px solid #000; box-sizing: border-box; float: left;width: 30%;height: 400px;position: relative;right: -70%}
.autoh-c{border-collapse:collapse; border: 1px solid #000; box-sizing: border-box; float: left;width: 20%;height: 200px;position: relative;right: -70%}
.autoh-r{border-collapse:collapse; border: 1px solid #000; box-sizing: border-box; float: left;width: 50%;height: 100px;position: relative;right: -70%}
.autoh4{
    display: inline-block;
    border-left: 200px solid yellow;
    border-right: 300px solid brown;
    width: 600px;
    height: 400px;
}
.autoh4-l{
    width: 200px;
    float: left;
    height: 350px;
    border: 1px solid #000;
    margin-left: -200px;
    box-sizing: border-box;
}
.autoh4-c{
    width: 600px;
    height: 300px;
    float: left;
    border: 1px solid #000;
    box-sizing: border-box;
}
.autoh4-r{
    width: 300px;
    height: 100%;
    float: right;
    border: 1px solid #000;
    box-sizing: border-box;
    margin-right: -300px;
    
}
.autoh5{
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.autoh5-l{
    background-color: yellow;
    float: left;
    width: 150px;
    height: 300px;
    border: 1px solid #000;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    box-sizing: border-box;
}
.autoh5-c{
    background-color: red;
    float: left;
    width: 350px;
    border:1px solid #000;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    box-sizing: border-box;
}
.autoh5-r{
    background-color: brown;
    float: left;
    width: 300px;
    margin-bottom: -99999px;
    box-sizing: border-box;
    padding-bottom: 99999px;
}
.autoh-border{
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    width:100%;
}
.autoh6{
    width: 800px;
    height: 150px;
    margin: 0 auto;
}
.autoh6-l{
    width: 300px;
    background-color: yellow;
    border-right: 500px solid brown;
    height: 150px;
    position: absolute;
}
.autoh6-r{
    background-color: brown;
    margin-left: 300px;
    width:500px;
    position: absolute;
}
.autoh7{
    width: 800px;
    height: 300px;
    margin: 0 auto;
    display: table;
}
.autoh-table-row{
    display: table-row;
}
.auto-table-l{
    display: table-cell;
    width: 130px;
    background-color: yellow;
}
.auto-table-c{
    display: table-cell;
    width: 430px;
    background-color: green;
}
.auto-table-l{
    display: table-cell;
    width: 240px;
    background-color: brown;
}
.test{
    width: 100%;
    background-color: red;
    margin: 20px auto;
    overflow: hidden;
}
.test-l{
    width: 300px;
    background-color: yellow;
    min-height: 200px;
    float: left;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.test-r{
    background-color: green;
    min-height: 200px;
    margin-left: 300px;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.three{
    width: 800px;
    background-color: red;
    height: 300px;
    margin: 20px auto;
}
.three-1{
    width: 200px;
    background-color: yellow;
    height: 300px;
    float: left;
}
.three-2{
    width: 100px;
    background-color: green;
    height: 300px;
    float: left;
}
.three-3{
    width: 500px;
    background-color: brown;
    height: 300px;
    float: left;
}
.threea{
    width: 100%;
    height: 300px;
    background-color: red;
    margin: 20px auto;
    min-width: 420px;
}
.threea-1{
    width: 200px;
    height: 300px;
    background-color: yellow;
    float: left;
}
.threea-2{
    margin: 0 200px;
}
.threea-3{
    width: 200px;
    height: 300px;
    background-color: brown;
    float: right;
}
.three-wa-c{
    float: left;
    width: 100%;
}
.three-wa-c div{
    height: 300px;
    background-color: red;
    margin: 0 200px;
}
.three-wa-l{
    float: left;
    height: 300px;
    width: 200px;
    background-color: yellow;
    margin-left: -100%;
}
.three-wa-r{
    float: left;
    height: 300px;
    width: 200px;
    margin-left: -200px;
    background-color: brown;
}
.threeb{
    width: 100%;
    height: 300px;
    background-color: red;
    position: relative;
}
.threeb-1{
    position: absolute;
    background-color: yellow;
    width: 130px;
    top: 0;
    height: 100%;
    left: 0;
}
.threeb-2{
    margin: 0 270px 0 130px;
    background-color: green;
    height: 100%;
}
.threeb-3{
    position:absolute;
    background-color: brown;
    width: 270px;
    right: 0;
    top: 0;
    height: 100%;
}
.threec-wa{
    width: 100%;
    overflow: hidden;
}
.threec-l{
    float: left;
    width: 50%;
    height: 300px;
    margin-left:  -100px;
    background-color: yellow;
}
.threec-c{
    width: 200px;
    float: left;
    height: 300px;
    background-color: green;
    z-index: 999;
}
.threec-r{
    float: left;
    width: 50%;
    height: 300px;
    margin-right:  -100px;
    background-color: yellow;
}
.threec-l>div{
     margin-left: 100px;
}
.threec-r>div{
    margin-right: 100px;
}


































































































